fastapi
uvicorn
pydantic
python-dotenv
pymysql
neo4j
requests
PyYAML
torch
transformers
datasets
evaluate
seqeval
tensorboard
sentence-transformers
langchain-core
langchain-deepseek
langchain-huggingface
langchain-neo4j
neo4j-graphrag
json-repair
sympy
tqdm
